* {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 30px;
  text-align: center;
  font-family: "Comic Sans MS";
}
body{
	background-color: #D8BFD8;
 font-size: 20px;
}
#boxA {
  width: 250px;
  height: 80px;
  background-color: white;
  font-family: arial;
  margin-left: 10px;
  margin-right: 5px;
  margin-bottom: 15px;
  border: 1px solid red;
  padding: 32px 6px 10px 6px;
}
#boxB {
  width: 250px;
  height: 80px;
  background-color: white;
  font-family: arial;
  margin-left: 10px;
  margin-right: 5px;
  margin-bottom: 15px;
  border: 1px solid red;
  padding: 32px 6px 10px 6px;
}
#boxC {
  width: 250px;
  height: 80px;
  background-color: white;
  font-family: arial;
  margin-left: 10px;
  margin-right: 5px;
  margin-bottom: 15px;
  border: 1px  solid red;
  padding: 32px 6px 10px 6px;
}
#p1{
  width: 72px;
  height: 25px;
  background-color: red;
  color: white;
  margin: 0px;
  border: 1px solid blue;
  float: right;
  text-align: center;
  position: absolute;
  top:0;
  right: 0;
}
#p2{
  width: 72px;
  height: 25px;
  background-color: red;
  color: white;
  margin: 0px;
  border: 1px solid blue;
  float: right;
  text-align: center;
  position: absolute;
  top:0;
  right: 0;
}
#p3{
  width: 72px;
  height: 25px;
  background-color: red;
  color: white;
  margin: 0px;
  border: 1px solid blue;
  float: right;
  text-align: center;
  position: absolute;
  top:0;
  right: 0;
  }
div{
  float: left;
  padding: 5px;
  position: relative;
  top: 60px;
}
/*Large devices*/
@media (min-width: 992px){
  #boxA {
    width: 31%;
  }
  #boxB {
    width: 31%;
  }
  #boxC {
    width: 31%;
  }
  }
/* Meduim devices only*/
@media (min-width: 768px) and (max-width: 991px) {
  #boxA {
    width: 35%;
  }
  #boxB {
    width: 35%;
  }
  #boxC {
    width: 35%;
      }